<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style type="text/css">
      .card-img {
  object-fit: cover;


  height: 337px;
}
    </style>
  </head>

  <body>
    <div class="container mt-5">
      <div class="card bg-dark text-alert">
        <img src="https://www.kravmaga-beynes.fr/wp-content/uploads/2016/09/EVENTS1.jpg" class="card-img" alt="..." style="">
          <div class="card-img-overlay">
          </div>
        </div>
        <h1 class="card-title "><%= @event.title %></h1>
        <div class="mt-5">
          <p>Date: <%= @event.start_date %></p>
          <p>Durée: <%= @event.duration %> minutes</p>
          <p>Ce qui vous attend: <%= @event.description %></p>
          <p>Où: <%= @event.location %></p>
          <p>Prix: <%= @event.price %>€</p>
        </div>
      </div>
    </div>
  </body>
</html>